*{
    box-sizing: border-box;
}
.button {
    background-color: hsl(211, 100%, 50%);
    border: solid 1px black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}
.button:hover{
background-color: white;
border: solid 1px black;
color: black;
}
.button:active{
    background-color: hsl(211, 100%, 50%);
    border-color: hsl(211, 100%, 50%);
}
.small{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px black;
}